<h1><%= @program.title%></h1>
<p>Par <%= @program.coach.username%></p>
<p><%@program.program_spheres.each do |program_sphere|%>
  <%=program_sphere.sphere.name%>
<% end %>
</p>
<p><%=@program.description%></p>
<br>
<% if current_member == @coach %>
  <%= button_to "Editer", edit_coach_program_path(@coach, @program), method: :get, class: "btn btn-success"%>
  <%= button_to "Supprimer", coach_program_path(@coach, @program), method: :delete,  data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-danger"%>
<% end %>