<%= form_tag coach_path, method: "put" do%>
  <h1 class="h3 mb-3 font-weight-normal text-center">Modifier mon profil</h1>
  <div class="form-group">
    <%= label_tag 'Username' %>
    <%= text_field_tag 'username', @coach.username, class: 'form-control' %>
  </div>
  <br /> <br />
  <div class="form-group">
    <%= label_tag 'Description' %>
    <%= text_field_tag 'description', @coach.description, class: 'form-control' %>
  </div>
  <br /> <br />
  <div class="form-group">
    <%= label_tag 'Ville' %>
    <%= text_field_tag 'city', @coach.city.name, class: 'form-control' %>
  </div>
  <br /> <br />
    <div class="form-group">
      <%= label_tag 'Domaine' %>
      <%= select_tag 'sphere_id', options_for_select(@spheres), prompt: "Sélectionner une catégorie", class:"u-full-width" %>
  </div>
  <br /> <br />
  <div class="form-actions">
      <%= submit_tag "Modifier mon Profil", class: "btn btn-success" %>
  </div>
<% end %>
<% if @coach.errors.any? %>
  <div class="alert alert-danger" role="alert">
  <p>Nous n'avons pas réussi à modifier votre profil pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @coach.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>