<h1>Hzllo <%= @coach.username%></h1>
  <h2>Infos personnelles</h2>
  <ul>
    <li><%= @coach.email%></li>
    
    <li><%= @coach.description%></li>
  </ul>
  <h2>Spheres</h2>
  <ul>
    <%@coach.spheres.each do |sphere|%>
      <li><%=sphere.name%> <%= link_to "a", coach_sphere_path(sphere.id), method: :delete, class: "close"%> </li>
    <% end %>
  </ul>
    <h2>Programmes</h2>
  <ul>
    <%@coach.programs.each do |program|%>
      <li><%= link_to program.title, coach_program_path(@coach, program.id)%> <%= link_to "<i class='fas fa-trash text-danger'></i>".html_safe, coach_program_path(@coach, program.id), method: :delete,  data: { confirm: 'Are you certain you want to delete this?' }%></li>
    <% end %>
  </ul>
  <%= link_to "Créer un nouveau programme", new_coach_program_path(@coach)%>
  <p>Pour pouvoir etre visible sur notre plateforme, vous devez completer votre profil !
  <%= link_to "Modifier mon profil ", edit_coach_path(@coach)%></p>
  <p>Modifier les infos du compte
  <%= link_to 'Paramètres du compte',edit_coach_registration_path, class:'button' %></p>