<!DOCTYPE html>
<html>
  <head>
    <title>ThecoachApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Font Awesone
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://kit.fontawesome.com/82b59b489d.js" crossorigin="anonymous"></script>


  </head>

  <body>
    <%= render "shared/navbar"%>
      <% if !flash.alert.nil? %>
    <div class="mt-4 row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center mt-3">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=  flash.alert %>
      </div>
    </div>
    </div>
    <% elsif !flash.notice.nil? %>
    <div class="mt-4 row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center mt-3">
      <div class="alert alert-success alert-dismissible" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%=  flash.notice %>
      </div>
    </div>
    </div>
    <% end %>
    <div class ="container">
    <%= yield %>
    </div>
  </body>
</html>
